* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./rm428-0056.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    z-index: 0;
    font-family: 'Alegreya Sans', sans-serif;
    
}

header {
    font-size: 2rem;
    color: rgb(28, 95, 95);
    text-shadow: 5px 5px #9e8297;
    font-family: 'Permanent Marker', cursive;
}

header, form{
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content:center ;
 }

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: rgba(8, 75, 95, 0.76);
    color: rgb(207, 187, 190);
}

form button{
    color: rgba(153, 102, 102, 0.801);
    background: rgb(80, 79, 76);
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    background: rgb(136, 130, 122);
    color:white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: rgba(8, 75, 95, 0.76);
    color: rgb(168, 149, 149);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    font-weight: bolder;
}

.todo li{
    flex: 1;
    /*pushing the buttons at the end*/
}

.trashButton, 
.complete-btn {
    background: rgb(121, 126, 121);
    color: rgb(216, 170, 170);
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;

}

.complete-btn {
    background: rgba(153, 102, 102, 0.801);
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check{
  pointer-events: none;
}
/*cant click on it anymore */

.completedButton {
    text-decoration: line-through;
    opacity: 0.5;

}

.fall{
    transform: translateY(8rem) routateZ(20deg);
}

select{
    /* we need to remove all the styles from it */
    -wenkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color: rgb(204, 182, 182);
    font-size: 20px;
    font-weight: bold;
    width: 13rem;
    cursor: pointer;
    padding: 1rem;
    background: rgb(121, 120, 117);

}

.select::after{
    content: '\25BC';
    position: absolute;
    background: rgb(80, 79, 76);
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after{
    background: rgb(167, 151, 122);
    color: pink;
}

.creditContainer {
    position: fixed;
    bottom: 0;
    right: 5%;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 1px 1px 2px rgb(167, 155, 155), 0 0 1em rgb(179, 179, 190), 0 0 0.2em rgb(162, 162, 170);
}

a:visited {
    text-decoration: none;
    color: black;
}

